
@{
    ViewBag.Title = "PrijavaNaTrening";
    Layout = null;
}
<head>
    <style>

        body {
            background-color: bisque;
            text-align:center;
        }

        h1 {
            text-align: center;
            font-family: 'Arial Rounded MT';
        }
    </style>

</head>

<h1>@ViewBag.poruka</h1>


<form action="~/Trener/Index">
    <input  type="submit" value="Pocetna" />
</form>

